:root,
html[data-theme='light'] {
    --dark: #081e2b;
    --light: #f1faee;
    --mlight: #7ec0e7;
    --mdark: #185381;
    --nfont: lora;
    --bfont: inter;
    --fontdec: Goldman;
}

html[data-theme='dark'] {
    --light: #081e2b;
    --mlight: #185381;
    --dark: #f1faee;
    --mdark: #7ec0e7;
    --nfont: lora;
    --bfont: inter;
    --fontdec: Goldman;
}

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#footer svg {
    width: 1rem;
    padding-inline-end: .2rem;
}

.expand {
    text-align: center;
    color: var(--light);
    padding: .5em;
    opacity: .5;
    background: var(--dark);
    border-radius: .5rem;
    width: 48%;
}

.expand:hover {
    background: var(--mlight);
    color: var(--dark);
}

body {
    background-color: var(--light);
    color: var(--dark);
    font-family: var(--bfont);
    padding: 0;
    margin: 0;
    text-align: justify;
    width: 100%;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body div {
    width: 100%;
}

img,
svg {
    vertical-align: middle;
    width: 2rem;
}

nav,
footer {
    width: 100%;
    height: 3rem;
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: var(--fontdec);
    position: fixed;
    z-index: 2;
    margin: 0;
    top: 0;
    padding-block: .5rem;
    padding-inline: 5%;
    background: var(--light);
}

nav>div>div {
    display: contents;
}

nav>div>div>span {
    display: none;
}

#end {
    width: auto;
    display: none;
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
    align-content: center;
}

.fdc {
    flex-direction: column;
}

#contact {
    justify-content: space-evenly;
}

#contact span {
    margin-block-start: 5rem;
    position: absolute;
    display: none;
}

#contact a:hover span {
    display: block;
}

.jsb {
    justify-content: space-between;
}

.jcc {
    justify-content: center;
}

.active {
    border-radius: .5rem;
    padding-inline: 1rem;
    background: var(--dark);
    color: var(--light);
    fill: var(--light);
}

nav>div {
    width: 100%;
}

nav img {
    width: 2rem;
    height: 2rem;
    border-radius: 0.2em;
    border: .15em solid var(--dark);
}

nav>div>span {
    font-size: 1em;
    padding-left: 2vw;
}

ul,
li {
    margin: 0;
    text-decoration: none;
    list-style: none;
    padding-block: .5em;
    color: var(--light);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    width: 80%;
    background: var(--mdark);
}

ul>li>ul>li {
    list-style-type: disc;
}

a {
    color: var(--dark);
    fill: var(--dark);
    text-align: center;
    text-decoration: None;
}

.links {
    padding-inline: .8rem;
}

#about div img {
    width: 20rem;
    border-radius: 20%;
    border: 0.5rem solid;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    margin-block-start: 1em;
    max-width: 100%;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 1em;
    background-color: var(--mlight);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.5em;
    border-radius: 1em;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    margin-inline: 0;
}

/* The circles on the timeline */
.container::after {
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--active);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
    padding-inline-start: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
    padding-inline-end: 0;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 2rem;
    width: 0;
    z-index: 1;
    right: 2rem;
    border: medium solid var(--mlight);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--mlight);
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 2rem;
    width: 0;
    z-index: 1;
    left: 2rem;
    border: medium solid var(--mlight);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--mlight) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 0.5rem;
    background-color: var(--mlight);
    position: relative;
    border-radius: .5rem;
}

/* .Cube {
    color: blueviolet;
    fill: blueviolet;
}

.Code {
    fill: brown;
    color: brown;
}

.Mech {
    color: darkgoldenrod;
    fill: darkgoldenrod;
} */

.phead {
    display: flex;
    background: var(--light);
    width: 100%;
    min-height: 3rem;
    justify-content: space-between;
    border-radius: .25rem;
    align-items: center;
    text-align: center;
}

.phead:hover {
    color: var(--light);
    background: var(--dark);
}

.phead>div {
    padding-inline: .5em;
}

button,svg {
    background: none;
    fill: var(--dark);
    border: none;
    padding: 0;
    margin: 0;
    margin-inline-start: 1rem;
}

#loader,
#c-c.fade {
    opacity: 1;
    animation-iteration-count: infinite;
    transition: opacity ease-in-out 1s;
}

#loader {
    position: fixed;
    inset: 0;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#loader p {
    font-size: 2rem;
}

#loader.fade,
#c-c {
    opacity: 0;
}

#c-c {
    width: 90%;
    flex-direction: column;
    margin: auto;
    padding-top: var(--scrolltm, 3em);
    scroll-margin-top: var(--scrolltm, 3em);
}

a:hover,
#dark_link:hover {
    color: var(--mdark);
    fill: var(--mdark);
}

section {
    min-height: 100vh;
    width: 100%;
    padding-block-end: 3rem;
    scroll-margin-top: var(--scrolltm, 3em);
}

section a {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    align-items: center;
    font-family: var(--fontdec);
}

.list {
    background: var(--mlight);
    width: 100%;
    text-align: center;
}

.list:hover {
    color: var(--mlight);
    background: var(--dark);
}

#list {
    display: flex;
    flex-direction: column;
    width: inherit;
    font-family: var(--fontdec);
}

#list>div div {
    display: flex;
    padding-block: 1rem;
    border-radius: 1em;
    flex-direction: column;
    align-items: center;
}

#list h1 {
    text-align: center;
}

#list>a,
#list>div {
    margin: 0;
    justify-content: space-between;
}

#list>div {
    padding-block-end: 1rem;
}

#clcode {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    height: 3rem;
    padding-block-end: 1em;
    fill: var(--dark);
}

#clcode>div {
    width: fit-content;
}

#clcode>span {
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: .8; */
    height: 2rem;
}

#clcode>span>p {
    padding-inline-start: .5rem;
    margin: 0;
}

#clcode>span>svg {
    width: 1.5rem;
}

#footer {
    top: initial;
    bottom: 0;
    text-align: center;
    font-size: small;
}

#footer div {
    align-items: center;
}

section>img {
    border-radius: 2em;
    width: 25%;
    border: 1rem solid var(--dark);
}

#h_nav a:hover::before {
    width: 100%;
    height: .1em;
    color: var(--mlight);
    transition: all 250ms linear;
}

#contact p {
    margin: 0;
}

#home>img {
    width: 100%;
    border: none;
}

@media screen and (max-width: 800px) {
    #h_nav {
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 100%;
        background: var(--light);
        padding-block-end: calc(var(--scrolltm, 3rem)*2);
        inset: var(--scrolltm, 3rem) 0 0 0;
        margin: 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: all 1s;
    }

    #contact span {
        margin-block-start: 3rem;
    }

    div#h_nav>span {
        display: block;
    }

    #end {
        display: flex;
    }

    button {
        margin-inline-start: 0;
    }

    #contact {
        flex-direction: column;
    }

    .end {
        width: 20vw;
    }

    section>img {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 2.5%;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 3em;
        padding-right: 0;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 2.5rem;
        border: medium solid var(--mlight);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--mlight) transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}