:root,
html[data-theme='light'] {
    --dark: #081e2b;
    --light: #f1faee;
    --mlight: #7ec0e7;
    --mdark: #185381;
    --active: #32d000;
    --backl: #f1faee85;
    --backd: #081e2b85;
    --nfont: lora;
    --bfont: inter;
    --fontdec: Goldman;
}

html[data-theme='dark'] {
    --light: #081e2b;
    --mlight: #185381;
    --dark: #f1faee;
    --mdark: #7ec0e7;
    --active: #32d000;
    --backd: #f1faee85;
    --backl: #081e2b85;
    --nfont: lora;
    --bfont: inter;
    --fontdec: Goldman;
}

button {
    background: none;
}

.clcode {
    display: flex;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 100%;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 1em;
    background-color: var(--mlight);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.5em;
    border-radius: 1em;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    margin-inline: 0;
}

/* The circles on the timeline */
.container::after {
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--active);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
    padding-inline-start: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
    padding-inline-end: 0;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 2rem;
    width: 0;
    z-index: 1;
    right: 2rem;
    border: medium solid var(--active);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--mlight);
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--mlight);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--mlight) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: var(--mlight);
    position: relative;
    border-radius: .5rem;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 2.5%;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 3em;
        padding-right: 0;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 2.5rem;
        border: medium solid var(--mlight);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--mlight) transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////lll////////////////*/
#h_nav a:hover::before {
    width: 100%;
    height: .1em;
    color: var(--mlight);
    transition: all 250ms linear;
}

body {
    /* background-color: var(--light); */
    background:url(/bg-res/pattern.svg);
    color: var(--dark);
    padding: 0;
    text-align: justify;
    margin: 0;
    width: 100%;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.one {
    padding: 0 5%;
}

@keyframes progress {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

#loader div {
    width: 100%;
    padding: 0 5%;
    height: 100%;
    font-size: 5em;
    font-family: var(--fontdec);
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 5;
}

#loader div p {
    display: flex;
    justify-content: center;
}

#loader #progress {
    height: 10%;
    width: 100%;
    font-size: .5em;
    animation: progress 2s ease-in-out;
}


#loader {
    position: fixed;
    left: 0;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

#loader,
#content-container.fade {
    opacity: 1;
    animation-iteration-count: infinite;
    transition: opacity ease-in-out 1s;
}

#loader.fade,
#content-container {
    opacity: 0;
}

#content-container {
    position: relative;
    width: 100%;
    justify-content: center;
    align-content: center;
    scroll-behavior: smooth;
    padding-top: var(--scrolltm, 3em);
    scroll-margin-top: var(--scrolltm, 3em);
}

#_home {
    font-size: 1em;
    padding-left: 2vw;
}

#pro {
    font-size: 1.5rem;
}

p {
    margin: 1% 0;
    width: 100%;
}

#img_7 {
    width: 1.5em;
    height: 1.5em;
    border-radius: 20%;
    border: .16em solid var(--dark);
}

.id3 {
    display: none;
}

#_dark_link {
    width: 2rem;
    height: 2rem;
    border: none;
    fill: var(--dark);
    /* margin-inline-end: .5em; */
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding: 0;
}

nav div,
footer div {
    margin: 0 auto;
    width: 90%;
    display: flex;
    padding: .1vw 0;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

div#end {
    overflow: hidden;
    margin: 0;
    width: 0;
}



#h_nav {
    display: contents;
}

nav,
footer {
    width: 100vw;
    display: block;
    font-weight: bolder;
    justify-content: center;
    font-size: 1.2rem;
    font-family: var(--nfont);
    position: fixed;
    z-index: 2;
    margin: 0;
    top: 0;
    padding-block: .5rem;
    background: var(--light);
}

#footer {
    top: initial;
    bottom: 0;
    font-size: small;
}
.one {
    /* background-image: url(/bg-res/Home.svg);
    background-color: var(--dark); */
    stroke: var(--dark);
    stroke-width: 1rem;
    width: 100%;
    fill: none;
    height: auto;
}

#footer div {
    justify-content: center;
}

#about,
#contact,
#Project,
#home {
    min-height: 100vh;
    animation: k 20s linear 200;
    scroll-margin-top: var(--scrolltm, 3em);
}

@keyframes k {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

#id1,
#contact {
    width: inherit;
    display: flex;
}

a {
    color: var(--dark);
    fill: var(--dark);
    text-align: center;
    text-decoration: None;
}

.act {
    margin: 0 18.14px;
}

footer div a {
    display: contents;
}

.contact {
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#id2 {
    /* max-width: 50%; */
    display: inline-flex;
    text-align: left;
    margin: 0;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

#home div {
    width: 100%;
    display: inline-flex;
    margin: 0;
    justify-content: space-between;
    font-family: var(--bfont);
    align-items: center;
}

#about {
    width: 100%;
    margin: auto;
    font-family: var(--bfont);
}

#home div p {
    width: 100%;
    font-size: 1em;
    padding-right: 0;
}

svg {
    width: 2rem;
}

.contact svg {
    flex-direction: column;
}

#hinav {
    display: none;
}

#contact {
    width: 100%;
    display: block;
    font-family: var(--fontdec);
}

#contact div,
#about div {
    display: inline-flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

#contact div {
    height: 70vh;
}

#about div {
    display: flex;
    flex-direction: column;
}

#clcode {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    height: 3rem;
    padding-block-end: 1em;
    fill: var(--dark);
}

#clcode>span {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clcode>span>p {
    padding-inline-start: 1rem;
}

a:hover,
#_dark_link:hover {
    color: var(--mdark);
    fill: var(--mdark);
}

.active {
    border-radius: 1rem;
    background: var(--dark);
    padding-inline: 1rem;
    color: var(--light);
    fill: var(--light);
}

#about div img {
    width: 20rem;
    border-radius: 20%;
    border: 0.5rem solid;
    margin: 0 auto;
}

@media (max-width: 600px) {
    #h_nav {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    * {
        margin: 0;
    }

    .cube,
    .code,
    .mech {
        padding-left: .1em;
    }

    #clcode>svg {
        width: 4rem;
        padding: 0.2em;
    }

    #_home {
        font-size: initial;
        padding-left: 3.5vw;
    }

    .active::after,
    .active::before {
        width: .1em;
        height: 100%;
    }

    body {
        margin: 0;
        background-color: var(--light);
        color: var(--dark);
    }

    nav div,
    footer div {
        display: flex;
    }


    div#_home {
        display: none;
    }

    #id1 {
        width: auto;
        margin: 0;
    }

    #h_nav {
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 100%;
        background: var(--light);
        inset: var(--scrolltm, 3.5rem) 0 0 0;
        margin: 0;
        align-items: center;
        transition: all 1s;
        /* backdrop-filter: blur(20px) saturate(500%); */
        /* background-color: var(--backd); */
        justify-content: flex-start;
    }

    .id3,
    #_dark_link {
        width: 2rem;
        height: 2rem;
        border: none;
        fill: var(--dark);
        /* margin-inline-end: .5em; */
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        padding: 0;
    }

    .id3:hover {
        color: var(--mdark);
        fill: var(--mdark);
    }


    #home div,
    #about div {
        width: 100%;
        display: inline-flex;
        margin: auto;
        font-family: var(--bfont);
        flex-direction: column;
    }

    #home div p,
    #about div p {
        width: 100%;
        padding: 0;
    }

    #home div img {
        padding-bottom: 5%;
    }

    #home div img,
    #home div p,
    #about div p {
        font-size: 1em;
    }

    a {
        fill: var(--dark);
        text-align: center;
        display: flex;
        margin: .5em;
        justify-content: flex-start;
        align-items: center;
    }

    .contact:hover {
        color: var(--mdark);
        fill: var(--mdark);
    }


    .contact svg {
        margin: 2%;
        width: 2.5em;
        padding-right: 5%;
    }

    .contact svg {
        margin: 0;
    }

    #contact div {
        width: 100%;
        margin: auto;
        flex-direction: column;
        min-height: 90vh;
        flex-wrap: wrap;
    }

    #about div img {
        width: 50%;
        margin: 2% auto;
    }

    div#end {
        justify-content: center;
        min-width: 20%;
        margin: 0;
        padding-inline-start: 1em;
    }
}