:root,
html[data-theme='light'] {
    --dark: #081e2b;
    --light: #f1faee;
    --mlight: #7ec0e7;
    --mdark: #185381;
    --active: #32d000;
    --backl: #f1faee85;
    --backd: #081e2b85;
    --nfont: lora;
    --bfont: inter;
    --fontdec: Goldman;
}

html[data-theme='dark'] {
    --light: #081e2b;
    --mlight: #185381;
    --dark: #f1faee;
    --mdark: #7ec0e7;
    --active: #32d000;
    --backd: #f1faee85;
    --backl: #081e2b85;
    --nfont: lora;
    --bfont: inter;
    --fontdec: Goldman;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}