:root,
html[data-theme='light'] {
    --dark: #081e2b;
    --light: #f1faee;
    --mlight: #7ec0e7;
    --mdark: #185381;
    --active: #32d000;
    --backl: #f1faee85;
    --backd: #081e2b85;
    --nfont: lora;
    --bfont: inter;
    --fontdec: Goldman;
}

html[data-theme='dark'] {
    --light: #081e2b;
    --mlight: #185381;
    --dark: #f1faee;
    --mdark: #7ec0e7;
    --active: #32d000;
    --backd: #f1faee85;
    --backl: #081e2b85;
    --nfont: lora;
    --bfont: inter;
    --fontdec: Goldman;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

#header,
.footer {
    position: fixed;
    width: 100%;
    padding-inline: 5%;
    height: 3em;
}

* {
    margin: 0;
    padding: 0;
}

button {
    padding: 0.1rem 1rem;
    background: var(--active);
    /* border: #686868; */
    border-radius: 0.5em;
}

div#progress {
    width: 90%;
    margin-bottom: 1rem;
    height: 2rem;
}

body {
    font-family: var(--nfont);
    background-color: var(--light);
    color: var(--dark);

}

span {
    max-width: 50%;
}

span>img {
    width: 2em;
    border-radius: 50%;
}

ul {
    min-width: 50%;
    margin: auto 0;
    padding: 0;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.active {
    color: var(--active)
}

#container {
    padding-top: var(--scrolltm, 3em);
    scroll-margin-top: var(--scrolltm, 3em);
}

@keyframes progress {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

#loader {
    position: fixed;
    left: 0;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

#loader div {
    width: 100%;
    padding: 0 5%;
    height: 100%;
    font-size: 5em;
    font-family: var(--fontdec);
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 5;
}

#loader div p {
    display: flex;
    justify-content: center;
}

#progress {
    height: 10%;
    width: 100%;
    font-size: .5em;
    animation: progress 2s ease-in-out;
}

#loader,
container.fade {
    opacity: 1;
    animation-iteration-count: infinite;
    transition: opacity ease-in-out 1s;
}

#loader.fade,
#container {
    opacity: 0;
}

.footer {
    height: 1rem;
    font-size: .8em;
    justify-content: center;
    bottom: 0;
}